.container
  nav.navbar.navbar-default
    .container-fluid
      .navbar-header
        a.navbar-brand(href='/')
          img#logo(alt='Brand', src='/logo.png')
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav
          if currentUser
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                | links
                span.caret
              ul.dropdown-menu
                li
                  a(href='/users') users
                li
                  a(href='/relations') relations
                li
                  a(href='/badges') badges
                li
                  a(href='/patches') patches

        ul.nav.navbar-nav.navbar-right
          if currentUser
            li
              a(href='/profile')  profile
              +loginButtons
  +Template.dynamic(template=content)
