h2  Patches
p Patches can be claimed by an user.

each patches
  a.media(href='/patch/{{_id}}')
    .media-left
      with patchImage
        img.media-object(src=url style="width: 64px; height: 64px;")
    .media-body
      h4.media-heading= displayName
      = description

if canInsert
  +quickForm(collection="Patches" id="insertPatchForm" type="insert")
