h2  Patches
p Patches can be claimed by an user.
ul
  each patches
    li
      span #{{_id}}
      +quickForm(collection="Patches" id=formId type="update" doc=this)

+quickForm(collection="Patches" id="insertPatchForm" type="insert")
