h1 profile
h2= email
h3 relations
ul
  each relations
    li
      a(href='{{relationLink}}')= displayName
h3 badges
ul
  each badges
    li= displayName
h3 patches
ul
  each pinnableKnots
    li
      = _id
      with possiblePatch
        = displayName
