.container-fluid
  .row
    .col-xs-12
      h2 Relations
      p Relations are used to group 2 or more users
  .row
    .col-xs-6
      ul
        each relations
          li
            a(href='{{relationLink}}')  {{displayName}}
    .col-xs-6
      h3  New relation
      +quickForm(id="insertRelationForm" type="method" meteormethod="relations.insert" schema=insertRelationFormSchema doc=preRelation)
