h2 Users

each users
  .media
    .media-left
      with userProfileImage
        img.media-object(src=url style="width: 64px; height: 64px;")
    a.media-body(href='/user/{{_id}}')
      h4.media-heading= name
      //- with profile
      //-   p= bio
